body {
  background: linear-gradient(to bottom, #d9dce4, #5496ff); /* Fallback gradient */
  /*background-image: url('./images/background-forest.jpg');*/
  background-size: cover;
  
  background-position: center;
  color: #b9b9b9;
  height: var(--tg-viewport-stable-height);
  touch-action: none; /* Prevent touch actions */
  position: relative;
  overflow: hidden; /* Ensure the overlay covers the entire viewport */
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.taskhead{
  background: linear-gradient(to bottom, #507cff, #a4c7ff
  );
}
.heading{
  text-align: center;
}

.image-container {
  perspective: 1000px;
  display: inline-block;
}

.wobble-image {
  width: 280;
  transition: transform .2s;
  filter: grayscale(.1);
}

@keyframes wobble-top {
  0%,
  100% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-20deg);
  }
}

@keyframes wobble-bottom {
  0%,
  100% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(20deg);
  }
}

@keyframes wobble-left {
  0%,
  100% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(-20deg);
  }
}

@keyframes wobble-right {
  0%,
  100% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(20deg);
  }
}

.wobble-top {
  animation: wobble-top .2s ease;
}

.wobble-bottom {
  animation: wobble-bottom .2s ease;
}

.wobble-left {
  animation: wobble-left .2s ease;
}

.wobble-right {
  animation: wobble-right .2s ease;
}

.tapguru{
    font-size: 16px;
    color: #507cff;
}
.tapguru{
    font-size: 14px;
    color: #507cff;
}

@media only screen and (max-width: 350px) {

  .tapguru{
    font-size: 12px;
    color: #507cff;
  }
  .tapguru2{
    font-size: 10px;
    color: #507cff;
}


}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/public/preloader.svg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 0px;
  height: 0px;
  position: fixed;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.spin1 {
  width: 0px;
  border: 10px solid transparent;
  height: 0px;
  position: relative;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  animation: spin 1.8s linear infinite;
}

.spin2 {
  border: 10px solid transparent;
  position: absolute;
  width: 0px;
  display: none;
  height: 0px;
  border-radius: 50%;
  border-left-color: #336bb6a6; /* Bright orange color */
}

.spin3 {
  border: 10px solid transparent;
  position: absolute;
  width: 0px;
  display: none;
  height: 0px;
  border-radius: 50%;
  border-right-color: #4781ff; /* Tomato color */
  transform: rotate(70deg);
  z-index: 10;
}

.spin4 {
  border: 10px solid transparent;
  position: absolute;
  width: 0px;
  display: none;
  height: 0px;
  border-radius: 50%;
  border-right-color: #001aff; /* Dark orange color */
  transform: rotate(140deg);
  z-index: 10;
}

.spin5 {
  border: 10px solid transparent;
  position: absolute;
  width: 0px;
  height: 0px;
  display: none;
  border-radius: 50%;
  border-top-color: #5f9fff; /* Orange color */
  transform: rotate(210deg);
  z-index: 20;
}

.spin6 {
  border: 10px solid transparent;
  position: absolute;
  width: 0px;
  height: 0px;
  display: none;
  border-radius: 50%;
  border-top-color: #4a78f8; /* Tomato color */
  transform: rotate(280deg);
  z-index: 20;
}

.spin7 {
  border: 10px solid transparent;
  position: absolute;
  width: 0px;
  display: none;
  height: 0px;
  border-radius: 50%;
  border-top-color: #3168ff; /* Bright orange color */
  transform: rotate(32deg);
  z-index: 30;
}

.spin8 {
  border: 10px solid transparent;
  position: absolute;
  width: 0px;
  display: none;
  height: 0px;
  border-radius: 50%;
  border-top-color: #5e75fa; /* Tomato color */
  transform: rotate(-28deg);
  z-index: 30;
}

.spin9 {
  border: 10px solid transparent;
  position: absolute;
  width: 0px;
  display: none;
  height: 0px;
  border-radius: 50%;
  border-top-color: #378af8; /* Dark orange color */
  transform: rotate(41deg);
  z-index: 25;
}



.taskbg{
  background: linear-gradient(to bottom, #507cff, #a4c7ff);
  background-color: #507cff;
  color: #fff;
  height: var(--tg-viewport-stable-height);
  touch-action: none; /* Prevent touch actions */
  margin-top: 0px !important; 
}


.checkmark-container {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-shadow {
  box-shadow: 
    0 -4px 10px 0 rgba(0, 68, 255, 0.5),
    0 -4px 20px 0 rgba(0, 4, 255, 0.3),
    0 -4px 30px 0 rgba(0, 81, 255, 0.2);
}

/* src/styles/Donate.css */
.donate-page {
  padding: 20px;
}

.campaign-list {
  display: flex;
  flex-wrap: wrap;
}

.campaign-card {
  margin: 10px;
  width: 300px;
}

.donation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
